h1{
    text-align: center;
}
.app{
    background-color:whitesmoke;
}
.box {
    width:400px;
    height:200px;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    text-align:center;
    box-shadow:5px 10px #DCDCDC;
    background-color: white;

}