@import './navbar.css';
@import './auth.css';
@import './giftCard.css';

:root {
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

.content {
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
}