.gift-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 440px 40px 0;
    overflow-y: scroll;
}

.gift-card {
    width: 450px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #FFFFFF;
    transition: 0.2s;
}

.gift-card:before {
    background-color: #000000;
    content: 'gift card stripe';
    margin-top: 20px;
    height: 40px;
}

.gift-card:hover {
    cursor: pointer;
    border-color: #94c1ff;
}

.gift-card.selected {
    border-color: #006AFF;
}

.gift-card p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.gift-card-detail {
    padding: 20px;
    position: fixed;
    top: 60px;
    right: 0px;
    width: 400px;
    height: calc(100vh - 80px);
    border-left: 1px solid rgb(0 0 0 / 10%);
    text-align: center;
    background-color: #FFFFFF;
}

.gift-card-detail__info {
    text-align: left;
}

.gift-card-detail__info-label {
    font-weight: bold;
}  

.gift-card-detail__cta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gift-card-detail__cta button {
    height: fit-content;
    white-space: nowrap;
}